<footer class="college-footer">
    <div class="footer-container">
        <div class="footer-col">
            <h3>State University</h3>
            <p>123 University Ave<br>Academic City, ST 54321</p>
            <p>Phone: (555) 012-3456</p>
            <p>Email: info@stateuniveristy.edu</p>
        </div>

        <div class="footer-col">
            <h4>Academics</h4>
            <ul>
                <li><a href="#">Undergraduate</a></li>
                <li><a href="#">Graduate Programs</a></li>
                <li><a href="#">Online Education</a></li>
                <li><a href="#">Global Studies</a></li>
            </ul>
        </div>

        <div class="footer-col">
            <h4>Resources</h4>
            <ul>
                <li><a href="#">Career Services</a></li>
                <li><a href="#">Financial Aid</a></li>
                <li><a href="#">Faculty Directory</a></li>
                <li><a href="#">Campus Map</a></li>
            </ul>
        </div>

        <div class="footer-col">
            <h4>Stay Connected</h4>
            <p>Subscribe to our weekly campus newsletter.</p>
            <form class="footer-form">
                <input type="email" placeholder="Email address">
                <button type="submit">Join</button>
            </form>
        </div>
    </div>

    <div class="footer-bottom">
        <p>&copy; 2026 State University. All Rights Reserved. | <a href="#">Privacy Policy</a></p>
    </div>
</footer>